@model FasleSafar.Models.Content

@{
    ViewData["Title"] = "حذف صفحه " + @Model.ContentTitle;
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>آیا از حذف صفحه @Model.ContentTitle اطمینان دارید؟</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContentTitle)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ContentTitle) <br />
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ContentType) <br/>
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ContentText)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ContentText)<br/>
        </dd>
    </dl>
    
    <form asp-action="DeleteContent" >
        <input type="hidden" asp-for="ContentId" />
        <input type="submit" value="حذف" class="btn btn-danger" /> |
        <a asp-action="ShowContents" asp-route-pageid="@ViewBag.ContentPageID">بازگشت</a>
    </form>
</div>
