@model FasleSafar.Models.ReqTrip

@{
    ViewData["Title"] = "درخواست سفر " + @Model.User.FullName;
     Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>درخواست سفر @Model.DestinationName متعلق به @Model.User.FullName</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.User.FullName) <br />
        </dd>
         <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.DestinationName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.DestinationName) <br />
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.StartDate) <br />
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.EndDate) <br />
        </dd>
         <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.PassengersCount)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.PassengersCount) <br />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TransportType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TransportType) <br />
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ReqTripDescription)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ReqTripDescription) <br />
        </dd>
         <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CreateDate) <br />
        </dd>
    </dl>
    <a asp-action="AddMessage" asp-route-id="@Model.UserId" type="button" class="btn btn-purple btn-rounded w-md waves-effect waves-light m-b-5">ارسال پیامک</a><br /><br/>
<a asp-action="ShowReqTrips" asp-route-pageid="@ViewBag.ReqTripsPageID">بازگشت</a>
</div>